:root {
  --main-light-color: #E5E9F0;
  --main-dark-color: #2E3440;
  --main-blue-color: #5E81AC;
  --main-green-color: #A3BE8C;
  --main-yellow-color:#EBCB8B;
  --main-red-color: #BF616A;
  --main-cyan-color: #88C0D0;
  --main-orange-color: #D08770;
  --main-purple-color: #B48EAD;
}

section {
  width: 640px;
  margin: 36px auto;
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
  }
}

pre {
  line-height: 1.3;
  font-size: 14px;
  font-family: Hack, "Source Code Pro", "Inconsolata", "Ubuntu", "Andale Mono", "Lucida Console", monospace;
}

#top {
  color: var(--main-orange-color);
  font-size: 16px;
}

#title {
  color: var(--main-red-color);
  font-weight:bold;
}

#red {
  color: var(--main-red-color);
}

#orange {
  color: var(--main-orange-color);
}

#cyan {
  color: var(--main-cyan-color);
}

#green {
  color: var(--main-green-color);
}

#cursor {
  animation-name: cursor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: inline-block;
}

@keyframes cursor {
  0% { background-color: var(--main-light-color)}
  5% { background-color: var(--main-dark-color)}
  50% { background-color: var(--main-dark-color)}
  55% { background-color: var(--main-light-color)}
  100% { background-color: var(--main-light-color)}
}

a {
  color: var(--main-blue-color);
}

a:visited {
  color: var(--main-purple-color);
}

.nobr {
  white-space: nowrap;
}

#end {
  color: var(--main-yellow-color);
}